@font-face {
    font-family: 'Montserrat Thin';
    src: url(../fonts/Montserrat-Thin.ttf) format('truetype');
    font-style: normal;
    font-weight: 100;
}

html { 
    min-height: 100%;
    min-width: 100%; 
}

body {
    background-image: url(../img/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1000;
}

body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/telegram.png) url(../img/github.png) url(../img/linkedin.png) url(../img/whats.png) url(../img/email.png);
}

a {
    cursor: pointer;
}

.wrapper-main {
    width: 100%;
}

.wrapper-main .logo {
    display: block;    
}

.header-main {
    width: 100%;
    height: 60px;
    padding-left: 130px;
    display: flex;
    justify-content: space-between;
}

.header-main-nav {
    width: fit-content;
    /* background-color: #fff; */
    height: 100%;
}

.header-main-nav ul {
    list-style: none;
}

.header-main-nav ul li {
    display: inline;
    float: left;
}

.header-main-nav ul li a {
    padding: 0 10px;
    font-family: 'Montserrat Bold', sans-serif;
    line-height: 60px;
    color: #7ed957;
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover {
    color: #fff;
}

.header-main-nav-link {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../img/linkedin-green.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* antialiasing */
    outline: 1px solid transparent;
    transform: translateZ(0);
    will-change: transform;
}

.header-main-nav-link:hover {
    background-image: url(../img/linkedin.png);
}

.header-main-nav-git {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../img/github-green.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* antialiasing */
    outline: 1px solid transparent;
    transform: translateZ(0);
    will-change: transform;
}

.header-main-nav-git:hover {
    background-image: url(../img/github.png);
}

.header-main-nav-telegram {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../img/telegram-green.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* antialiasing */
    outline: 1px solid transparent;
    transform: translateZ(0);
    will-change: transform;
}

.header-main-nav-telegram:hover {
    background-image: url(../img/telegram.png);
}

.header-main-nav-whats {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../img/whats-green.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* antialiasing */
    outline: 1px solid transparent;
    transform: translateZ(0);
    will-change: transform;
}

.header-main-nav-whats:hover {
    background-image: url(../img/whats.png);
}

.header-main-nav-email {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../img/email-green.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* antialiasing */
    outline: 1px solid transparent;
    transform: translateZ(0);
    will-change: transform;
}

.header-main-nav-email:hover {
    background-image: url(../img/email.png);
}

.footer-main {
    color: #fff;
    font-family: 'Montserrat Light', sans-serif;
    margin: 50px 160px;
}

.footer-main a:hover{
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    
    .header-main {
        padding-left: 17%;
    }

}
